In [1]:
import pandas as pd
pd.options.mode.chained_assignment = None  # default='warn'

In [2]:
def clean_df(df):
    """cleans data in dataframe df"""
    
    #change numbering format to english standard
    df['Amount'] =  [x.strip().replace('.', '') for x in df['Amount']]
    df['Amount'] =  [x.strip().replace(',', '.') for x in df['Amount']]

    #change from string to datetime
    df['Date'] = pd.to_datetime(df['Date'],format='%d.%m.%Y')
    #change from string to number in 5th column
    df[['Amount']] = df[['Amount']].apply(pd.to_numeric)
    #strip whitespace in 2nd column
    df['Party'] = df['Party'].str.strip()
    
    return df

In [3]:
def slice_by_date(df, start_date, end_date):
    """returns a dataframe subset in the range specified"""
    
    #convert strings to datetime format
    start_date = pd.to_datetime(start_date, format='%d.%m.%Y')
    end_date = pd.to_datetime(end_date, format='%d.%m.%Y')
    
    #slice dataframe to given date range
    mask = (df['Date'] >= start_date) & (df['Date'] <= end_date)
    
    #return sliced dataframe
    return df.loc[mask]

In [4]:
def split_df(df):
    """splits dataframe into income and outgo dataframes""" 
    
    #income values are positive
    income_df = df[df['Amount'] > 0]

    #outgo values are negative
    outgo_df = df[df['Amount'] < 0]
    
    return income_df, outgo_df

In [5]:
def group_df(df):
    """sums duplicate entries then drops the duplicates"""
    
    #Values summed in column '5' for duplicates in column 'Party'
    df['Amount'] = df.groupby(['Party'])['Amount'].transform('sum')
    
    #duplicates in column 'Party' are dropped
    df = df.drop_duplicates(subset='Party')
    #df = df.drop(['Party'], axis=1)
    
    return df

In [6]:
def categorize_outgo(df):
    
    df['Category'] = 'OTHER'
    
     #lists of known senders
    groceries = ['NETTO MARKEN-DISCOU.','DM DROGERIEMARKT SAGT DANKE',
                 'Feldkamp Einzelhan', 'ALDI SUED SAGT DANKE', 
                 'DANKE, IHR LIDL','PRO BIOMARKT','Feldkamp Einzelhandels oH',
                 'JACQUES WEIN-DEPOT','ROSSMANN VIELEN DANK','3825 NK DU-NEUDORF']
    
    rent = ['Duisburger Haus- und Grundbesitzer GmbH']
    
    utilities = ['Stadtwerke Duisburg AG', 'UNITYMEDIA NRW GMBH',
                 'Telefonica Germany GmbH + Co. OHG', 'VISA MULLVAD',
                 'Rundfunk ARD, ZDF, DRadio']
    
    insurance = ['HUK-COBURG UNTERNEHMENSGRUPPE', 'Wurzburger Versicherungs-AG']
    
    savings = ['Lena Tillman']
    
    delivery = ['VISA LIEFERSERVICE.DE','VISA LIEFERANDO.DE']
    
    online = ['VISA AMAZON SVCS EU-DE AMAZ', 'VISA AMAZON DE MARKETPLACE',
              'VISA AMAZON EU','VISA AMAZON EU AMAZON.DE']
    
    baby_class = ['Evangelischer Kirchenkreis Duisburg']
    
    fees = ['ING-DiBa AG, Frankfurt a.M.']
    
    cash = ['VISA SPARKASSE DUISBURG']
    
    uni = ['Hochschule Rhein-Waa']
    
    car = ['OIL TANKSTELLEN GMBH COKG']
    
    holiday = ['VISA PARKING NOU MERCAT','VISA AUCAT BAR VALLCARC',
               'VISA HERTZ DE ESPANA SA', 'VISA E0565 EL PRAT DE LLOBR',
               'VISA BANCOSABADELL/10081174','First Data Deutschland GmbH',
               'VISA CHIR.IBIZA PLAYA CASTE', 'VISA ATM 0388 BANCA MARCH1',
               'VISA LUCIANA PAVONE', 'VISA 1616000011/EL PRAT',
               '3140 GOODMAN + FILIPPO DUeS','VISA CAR DEL MAR']
    
    clothes = ['RUNNERS POINT FORUM DUISBUR', 'KARSTADT WARENHAUS GMBH']
    
    health = ['LOEWEN-APOTHEKE','DRES. JUTTA VAN BOEMMEL, DU','MVZ DIE ZAHNAERZTE MUELHEIM']
    
    home = ['VISA BM DUISBURG/KASSLE']
    
    leisure = ['VISA STEAMGAMES.COM 4259522', 'VISA STEAMGAMES.COM']
    
    df.loc[df['Party'].isin(groceries), 'Category'] = 'GROCERIES'
    df.loc[df['Party'].isin(rent), 'Category'] = 'RENT'
    df.loc[df['Party'].isin(utilities), 'Category'] = 'UTILITIES'
    df.loc[df['Party'].isin(insurance), 'Category'] = 'INSURANCE'
    df.loc[df['Party'].isin(savings), 'Category'] = 'SAVINGS'
    df.loc[df['Party'].isin(delivery), 'Category'] = 'DELIVERY'
    df.loc[df['Party'].isin(online), 'Category'] = 'ONLINE'
    df.loc[df['Party'].isin(baby_class), 'Category'] = 'BABY CLASSES'
    df.loc[df['Party'].isin(fees), 'Category'] = 'FEES'
    df.loc[df['Party'].isin(cash), 'Category'] = 'CASH'
    df.loc[df['Party'].isin(uni), 'Category'] = 'UNI'
    df.loc[df['Party'].isin(car), 'Category'] = 'CAR'
    df.loc[df['Party'].isin(holiday), 'Category'] = 'HOLIDAY'
    df.loc[df['Party'].isin(clothes), 'Category'] = 'CLOTHES'
    df.loc[df['Party'].isin(health), 'Category'] = 'HEALTH'
    df.loc[df['Party'].isin(home), 'Category'] = 'HOME'
    df.loc[df['Party'].isin(leisure), 'Category'] = 'LEISURE'
    
    return df

In [7]:
def cat_income(df, other=False):
    """categorizes income"""
    
    #lists of known senders
    paycheck = ['Landeskasse Duesseldorf fuer LBV']
    
    tax_return = ['STEUERVERWALTUNG NRW']
    
    transfers = ['ING-DiBa AG, Frankfurt a.M.']
    
    eltgeld = ['Bundeskasse Trier']
    
    #list of categories
    categories = ['PAYCHECK', 'ELTERNGELD', 'TAX RETURN', 'TRANSFERS' ]

    #change values in column '2' if they are on a list
    df.loc[df['Party'].isin(paycheck), 'Party'] = 'PAYCHECK'
    df.loc[df['Party'].isin(tax_return), 'Party'] = 'TAX RETURN'
    df.loc[df['Party'].isin(transfers), 'Party'] = 'TRANSFERS'
    df.loc[df['Party'].isin(eltgeld), 'Party'] = 'ELTERNGELD'
    
    #if others=True, values not in categories list are renamed to 'OTHERS'
    if other:
        df.loc[~df['Party'].isin(categories), 'Party'] = 'OTHER'
    
    return df

In [8]:
def cat_outgo(df, other=False):
    """sums duplicate entries then drops the duplicates"""
    
    #lists of known senders
    groceries = ['NETTO MARKEN-DISCOU.','DM DROGERIEMARKT SAGT DANKE',
                 'Feldkamp Einzelhan', 'ALDI SUED SAGT DANKE', 
                 'DANKE, IHR LIDL','PRO BIOMARKT','Feldkamp Einzelhandels oH',
                 'JACQUES WEIN-DEPOT','ROSSMANN VIELEN DANK','3825 NK DU-NEUDORF',
                 'Feldkamp Einzelhandels EH']
    
    rent = ['Duisburger Haus- und Grundbesitzer GmbH']
    
    utilities = ['Stadtwerke Duisburg AG', 'UNITYMEDIA NRW GMBH',
                 'Telefonica Germany GmbH + Co. OHG', 'VISA MULLVAD',
                 'Rundfunk ARD, ZDF, DRadio']
    
    insurance = ['HUK-COBURG UNTERNEHMENSGRUPPE', 'Wurzburger Versicherungs-AG']
    
    savings = ['Lena Tillman']
    
    delivery = ['VISA LIEFERSERVICE.DE','VISA LIEFERANDO.DE']
    
    online = ['VISA AMAZON SVCS EU-DE AMAZ', 'VISA AMAZON DE MARKETPLACE',
              'VISA AMAZON EU','VISA AMAZON EU AMAZON.DE']
    
    baby_class = ['Evangelischer Kirchenkreis Duisburg']
    
    fees = ['ING-DiBa AG, Frankfurt a.M.']
    
    cash = ['VISA SPARKASSE DUISBURG']
    
    uni = ['Hochschule Rhein-Waa']
    
    car = ['OIL TANKSTELLEN GMBH COKG']
    
    holiday = ['VISA PARKING NOU MERCAT','VISA AUCAT BAR VALLCARC',
               'VISA HERTZ DE ESPANA SA', 'VISA E0565 EL PRAT DE LLOBR',
               'VISA BANCOSABADELL/10081174','First Data Deutschland GmbH',
               'VISA CHIR.IBIZA PLAYA CASTE', 'VISA ATM 0388 BANCA MARCH1',
               'VISA LUCIANA PAVONE', 'VISA 1616000011/EL PRAT',
               '3140 GOODMAN + FILIPPO DUeS','VISA CAR DEL MAR']
    
    clothes = ['RUNNERS POINT FORUM DUISBUR', 'KARSTADT WARENHAUS GMBH']
    
    health = ['LOEWEN-APOTHEKE','DRES. JUTTA VAN BOEMMEL, DU','MVZ DIE ZAHNAERZTE MUELHEIM']
    
    home = ['VISA BM DUISBURG/KASSLE']
    
    leisure = ['VISA STEAMGAMES.COM 4259522', 'VISA STEAMGAMES.COM']
    
    #list of categories
    categories = ['GROCERIES', 'RENT', 'UTILITIES', 'INSURANCE'
                  'SAVINGS', 'DELIVERY', 'ONLINE', 'BABY CLASSES',
                  'FEES', 'CASH', 'UNI', 'CAR', 'HOLIDAY','CLOTHES',
                  'HEALTH','HOME', 'LEISURE']
    
    #change values in column 'Party' if they are on a list
    df.loc[df['Party'].isin(groceries), 'Party'] = 'GROCERIES'
    df.loc[df['Party'].isin(rent), 'Party'] = 'RENT'
    df.loc[df['Party'].isin(utilities), 'Party'] = 'UTILITIES'
    df.loc[df['Party'].isin(insurance), 'Party'] = 'INSURANCE'
    df.loc[df['Party'].isin(savings), 'Party'] = 'SAVINGS'
    df.loc[df['Party'].isin(delivery), 'Party'] = 'DELIVERY'
    df.loc[df['Party'].isin(online), 'Party'] = 'ONLINE'
    df.loc[df['Party'].isin(baby_class), 'Party'] = 'BABY CLASSES'
    df.loc[df['Party'].isin(fees), 'Party'] = 'FEES'
    df.loc[df['Party'].isin(cash), 'Party'] = 'CASH'
    df.loc[df['Party'].isin(uni), 'Party'] = 'UNI'
    df.loc[df['Party'].isin(car), 'Party'] = 'CAR'
    df.loc[df['Party'].isin(holiday), 'Party'] = 'HOLIDAY'
    df.loc[df['Party'].isin(clothes), 'Party'] = 'CLOTHES'
    df.loc[df['Party'].isin(health), 'Party'] = 'HEALTH'
    df.loc[df['Party'].isin(home), 'Party'] = 'HOME'
    df.loc[df['Party'].isin(leisure), 'Party'] = 'LEISURE'
    #if others = True, values not in categories list are renamed to 'OTHERS'
    if other:
        df.loc[~df['Party'].isin(categories), 'Party'] = 'OTHER'
    
    return df

In [9]:
def show_both(csv, start_date, end_date):
    
    #read csv data into dataframe
    df = pd.read_csv(csv,sep=';',usecols=['Date','Party','Amount'])
    
    #cleans data
    df = clean_df(df)
    
     #slice by date
    df = slice_by_date(df, start_date, end_date)
    
    #splits data into income and outgo
    income_df, outgo_df = split_df(df)
    
    return income_df, outgo_df

In [10]:
def show_df(df):
    
    #cleans data
    df = clean_df(df)
    
    #splits data into income and outgo
    income_df, outgo_df = split_df(df)
    
    return income_df, outgo_df

In [11]:
def group_both(csv, start_date, end_date, other=False):
    
    #returns cleaned df 
    income_df, outgo_df = show_both(csv, start_date, end_date)
    
    #returns categorized df
    income_df = cat_income(income_df, other)
    
    #returns df with categories summed
    income_df = group_df(income_df)
    
    #returns categorized df
    outgo_df = cat_outgo(outgo_df, other)
    
    #returns df with categories summed
    outgo_df = group_df(outgo_df)
    
    return income_df, outgo_df

In [12]:
def group_both_df(df, other=False):
    
    #returns cleaned df 
    income_df, outgo_df = split_df(df)
    
    #returns categorized df
    income_df = cat_income(income_df, other)
    
    #returns df with categories summed
    income_df = group_df(income_df)
    
    #returns categorized df
    outgo_df = cat_outgo(outgo_df, other)
    
    #returns df with categories summed
    outgo_df = group_df(outgo_df)
    
    return income_df, outgo_df

In [13]:
df = pd.read_csv('4_8_2018_banking.csv',sep=';',usecols=['Date','Party','Amount'])
df = clean_df(df)
df = df.set_index('Date')
df.head()

                                               Party  Amount
Date
2018-08-03         Telefonica Germany GmbH + Co. OHG  -20.17
2018-08-03                        Feldkamp Einzelhan  -15.01
2018-08-02                      ALDI SUED SAGT DANKE  -26.60
2018-08-01               DM DROGERIEMARKT SAGT DANKE  -40.70
2018-08-01  Duisburger Haus- und Grundbesitzer  GmbH -583.00

In [17]:
months = [g for n, g in df.groupby(pd.Grouper(freq='M'))]

In [18]:
months[1]

                                              Party   Amount
Date
2017-01-02            HUK-COBURG UNTERNEHMENSGRUPPE -1376.27
2017-01-02  Duisburger Haus- und Grundbesitzer GmbH  -583.00
2017-01-02                             Lena Tillman  -500.00
2017-01-02                   Stadtwerke Duisburg AG   -93.00
2017-01-05        Telefonica Germany GmbH + Co. OHG   -16.66
2017-01-06              ING-DiBa AG, Frankfurt a.M.    -5.00
2017-01-06              ING-DiBa AG, Frankfurt a.M.  2596.04
2017-01-09              DM DROGERIEMARKT SAGT DANKE   -37.75
2017-01-09                                  Mullvad   -60.00
2017-01-10                  KAISERS TENGELMANN GMBH   -12.59
2017-01-10                  KARSTADT WARENHAUS GMBH   -39.99
2017-01-11                  VISA SPARKASSE DUISBURG  -150.00
2017-01-12                     STEUERVERWALTUNG NRW  1550.80
2017-01-12        Telefonica Germany GmbH + Co. OHG   -26.71
2017-01-13                  VISA AXA PPP ALC HEALTH   492.00
2017-01-13                Feldkamp Einzelhandels EH   -23.37
2017-01-16                     ALDI SUED SAGT DANKE   -32.25
2017-01-17                                     CJIB   -39.00
2017-01-17                             Lena Tillman -2000.00
2017-01-23              DM DROGERIEMARKT SAGT DANKE   -17.00
2017-01-24                  VISA SPARKASSE DUISBURG  -200.00
2017-01-25                   Orlen Deutschland GmbH   -63.07
2017-01-27                  VISA SPARKASSE DUISBURG  -100.00
2017-01-27                         DB Vertrieb GmbH   -30.00
2017-01-31          Jordan Educational Services Ltd  -116.82
2017-01-31         Landeskasse Duesseldorf fuer LBV  2687.12
2017-01-31                      UNITYMEDIA NRW GMBH   -22.90

In [24]:
months_income = []
months_outgo = []

for month in months:
    income, outgo = group_both_df(month)
    months_income.append(income)
    months_outgo.append(outgo)

In [19]:
income, outgo = group_both_df(months[1])

In [20]:
income.head()

                              Party   Amount
Date
2017-01-06                TRANSFERS  2596.04
2017-01-12               TAX RETURN  1550.80
2017-01-13  VISA AXA PPP ALC HEALTH   492.00
2017-01-31                 PAYCHECK  2687.12

In [29]:
months_outgo[0]

                                                Party   Amount
Date
2016-12-06                                       CASH -2760.00
2016-12-06                         VISA YOURDELIVERY*   -85.00
2016-12-06                                    ARAL AG   -69.30
2016-12-06                                  UTILITIES  -171.74
2016-12-08                                  GROCERIES  -676.65
2016-12-12                                 Zalando SE   -59.95
2016-12-12                   Labor Eveld und Kollegen   -40.80
2016-12-12                             Stadt Duisburg   -15.00
2016-12-12                      VISA DOMINOS DUISBURG   -31.05
2016-12-14                   GALERIA KAUFHOF GMBH DUI   -17.95
2016-12-15                  Feldkamp Einzelhandels EH   -37.26
2016-12-16                         Judith Krasenbrink   -50.00
2016-12-20                      ESSO DEUTSCHLAND GMBH   -50.90
2016-12-23                           DB Vertrieb GmbH   -20.40
2016-12-23                         DR.MED.P.KOSLOWSKI  -240.00
2016-12-27                           Jenny Seringhaus  -149.60
2016-12-27  NEUKAUF HANDELSGESELLSCHAFT MBH//MOERS/DE   -61.77